<form class="entry-form" [formGroup]="entryForm" (ngSubmit)="addEntry()">
<div class="col-container">
  <mat-form-field  >
    <mat-label>Data</mat-label>
    <input type="date" matInput formControlName="date">
  </mat-form-field>

  <mat-form-field >
    <mat-label>Value</mat-label>
    <input type="text" matInput formControlName="value">
  </mat-form-field>
</div>

<div class="col-container">
  <mat-form-field >
    <mat-label>Category</mat-label>
    <mat-select matInput formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button  color="accent" (click)='openCategoryManager()'>Manage categories</button>
</div>
  <mat-form-field >
    <mat-label>Description</mat-label>
    <textarea rows="5" class="desc-text" matInput formControlName="description"></textarea>
  </mat-form-field>
  <button class="sub-btn" mat-raised-button  color="accent"  type='submit'>Add</button>
</form>



