@import 'src/styles.scss';
:host {
  display: block;
  @include shadow-right-bot;
  background: white;
  border-radius: 10px;
  padding: 1rem;
}
.entry-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 100px;
  column-gap: 1rem;
  align-items: center;

}
.col-container {
  @include center-col;
}
.desc-text {
  resize: none;
}
.btn {
  height: 3rem;
  width: 100%;
  margin: .3rem 0;
}
