$strong-text: rgb(20,20,20);
$text: rgb(40,40,40);


@mixin shadow-right-bot {
  box-shadow: 2px 2px 3px rgba(0,0,0,.20);
}
@mixin center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240,240,240)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}
